# =========================
# Базовые папки .NET / Visual Studio
# =========================
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Временные файлы окружения и логи
# =========================
*.log
*.cache
appsettings.Development.json

# =========================
# Пользовательские файлы твоей системы Paperless
# (чтобы не пушить чужие аватарки и PDF-документы на GitHub)
# =========================
wwwroot/uploads/*
!wwwroot/uploads/.keep

wwwroot/avatars/*
!wwwroot/avatars/.keep

# =========================
# Mac / Windows мусор
# =========================
.DS_Store
Thumbs.db